body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    background-color: black;
    color: white;
    overflow: hidden;
}
.main {
    display: flex;
    height: 100vh;
    padding: 0.5rem;
}
.top-part{
    background-color: white;
    color: black;
    width:100%;
    height:56px;
    position: fixed;
    top:0;
}
.sidebar{
    background-color: aqua;
    width:15rem;
    padding-top: 3rem;
}
.main-content{
   flex:1;
   background-color: blue;
   padding-top: 3rem;
}
.top{
    display: flex;
}
.left{
    display:flex;
    
}